@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

:root{
  /* colores */
  --colorPrimario: #ff9a00;
  --colorSecundario: #dfdbb6;
  --colorTercero: #fff;
  --colorMenu: #000;
  --colorFont: #000;
  --colorLink: #dfdbb6;
  --colorHover: #fff;
  /* tamaño fuente header */ /*responsive*/
  --sizeFontNavTitle: 96px;
  --sizeFontNavBar: 26px;
  --sizeFontToggle: 50px;
  /* tamaño fuente sections */
  --sizeFontTitle: 5rem;
  --sizeFontSub: 2.5rem;
  --sizeFontPBg: 2rem;
  --sizeFontPMd: 1.5rem;
  --sizeFontPSm: 1rem;
  /* fuente */ 
  --fontFamilyMesa12: 'DynaPuff', cursive;
  --fontFamilyTitle: 'Delicious Handrawn', cursive;
  --fontFamilySub: 'Yanone Kaffeesatz', sans-serif;
  --fontFamilyP: 'Oswald', sans-serif;
  /* weight */
  --weightFontMesa12: 600;
  --weightFontTitle: 400;
  --weightFontSub: 200;
  --weightFontP: 200;
  /* padding */
  --paddingSections: 3vw;
  /* solo formulario */
  --colorInactive: rgba(255, 255, 255, 0.3);
  --colorActive: #ff9a00;
  --borderOff: 1px solid rgba(255, 255, 255, 0.3);
  --borderOn: 1px solid #ff9a00;
}
/* text media query */
@media(max-width: 1200px){
  html{
    font-size: 85%;
  }
}
@media(max-width:1024px){
  html{
    font-size: 75%;
  }
}
@media(max-width: 480px){
  html{
    font-size: 65%;
  }
} 
  



/* -------------- */
/* -----HTML----- */
/* -------------- */

*{
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}






/* ------------ */
/* ---HEADER--- */
/* ------------ */


/* navegador con logo, titulo animado que se oculta y navegador responsive */
/* header contiene a .enlace . title y n-bar */
/* toggle oculto animacion con js .checkbtn #check */
/* n bar contiene n-item*/
header{
  z-index: 10;

  position: sticky;
  top: 0;

  display: flex; 
  align-items: center;

  justify-content: space-around; /* espacio entre .enlace .title .n-bar*/
  
  background-color: var(--colorPrimario);

  box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75); /* shadow al header flotante*/
}
  
/* --logo-- */
.enlace{
 padding: 10px;
}
  
/* --animated title-- */
.title{
  font-family: var(--fontFamilyMesa12);
  font-weight: var(--weightFontMesa12);
  letter-spacing: 0.5vw;
  font-size: var(--sizeFontNavTitle);
  color: transparent;
  background-image: linear-gradient(#fff, var(--colorSecundario) );
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -320px 0;
  animation: backcolor 3s linear infinite alternate;
}

/* damos a "backcolor" una animacion */
@keyframes backcolor{
  100%{
    background-position: 0px 0;
  }
}

/* navegador */
nav{
  height: 110px;
  width: 100%;
}
.enlace{
  padding: 10px;
}
.logo{
  height: 100px;
  margin: 10px 40px;
}
nav .n-bar{
  float: right;
  margin-right: 20px;
}
nav .n-bar .n-item{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

/* nuevos botones hover subrayado creciente */
.n-item a {
  font-size: var(--sizeFontNavBar);
  font-weight: var(--weightFontTitle);
  color: var(--colorLink);
  font-family: var(--fontFamilyP);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
  
.n-item a:focus,
.n-item a:hover {
  color: var(--colorHover);
}
  
.n-item a:focus:after,
.n-item a:hover:after {
  width: 100%;
  left: 0%;
}
  
.n-item a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--colorHover);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
  
/*--toggle js-- */  
.checkbtn{
  
  color: var(--colorLink);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.fa-bars{
  font-size: var(--sizeFontToggle);
}
  
/*-- RESPONSIVE NAV-- */
/* titulo oculto en pantalla mediana */
@media(max-width: 1200px){
  .title{
    display: none;
  }
}
/* navegador oculto en pantalla pequeña*/
@media(max-width: 768px){
  .title{
    display: none;
  }
  .card{
      display: block;
  }
  .checkbtn{
      display: block;
  }
  .n-bar{
      z-index: 2;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--colorMenu);
      color: var(--colorLink);
      top: 130px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav .n-bar .n-item{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  
  }
  nav .n-bar .n-item a{
      font-size: var(--sizeFontNavBar);
  }
  .n-item a:hover, .n-item a.active{
      background: none;
  }
  #check:checked ~ .n-bar{
      left: 0;
  }
} 

  















/* -------------------- */
/* -- S1 FORM Y TEXT--- */
/* -------------------- */

/* titulo form y text */
.container{
  background-color: var(--colorSecundario);
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
}

/* titulo */
.text-main-u{
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-image: url(../img/wintery-sunburst.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--colorFont);
  width: 100%;
  height: 450px;
  font-size: x-large;
}
.title-main{
  background-color: var(--colorPrimario);
  border-radius: 60% 40% 10% 90% / 33% 51% 49% 67% ; /* fondo forma para los titulos*/
  font-family: var(--fontFamilyTitle);
  font-size: var(--sizeFontTitle);
  font-weight: var(--weightFontTitle);
}
.sub-main{
  font-family: var(--fontFamilySub);
  font-size: var(--sizeFontSub);
  font-weight: var(--weightFontSub);
}


.info{
  
  width: 500px;
  height: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  
  /* imagen fondo */
  background-color: #FAFAFA;
  /* font */
  color: var(--colorFont);
  
  border-radius: 15px;
  padding: 30px 50px;
}

.iframe-info{
  width: 100%;
}

.info h2{
  font-family: var(--fontFamilySub);
  font-weight: var(--weightFontSub);
  font-size: var(--sizeFontSub);
}

.info h3{
  font-family: var(--fontFamilySub);
  font-weight: var(--weightFontSub);
  font-size: var(--sizeFontPBg);
}

.info p{
  font-family: var(--fontFamilyP);
  font-weight: var(--weightFontP);
  font-size: var(--sizeFontPMd);
}

/* form */

.form {
  width: 500px;
  height: 1000px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

  border-radius: 15px;
	
	padding: 30px 50px;
	background: #000;
	color: #fff;
  
}
  
.form-titulo {
  font-family: var(--fontFamilySub);
	font-size: var(--sizeFontSub);
  font-weight: var(--weightFontSub);
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
	letter-spacing: 3px;
}

.form-input {
	margin-bottom: 30px;
}
  
.form-input label {
  font-family: var(--fontFamilyP);
  font-size: var(--sizeFontPSm);
	display: block;
	margin-top: 10px;
}
  
.form-input input {
	width: 90%;
	border: none;
	outline: none;
	background: none;
	border-bottom: 1px solid #fff;
	color: #fff;
}
  
.form-input input:focus + label {
	font-weight: bold;
	color: #ff9a00;
}

.form-input input:focus{
	border-bottom: 2px solid #ff9a00;
}

.textarea {
	width: 90%;
}
  
.form-termsAndConditions {
	margin-left: 15px;
	position: relative;
	color: #fff;
	font-size: 13px;
}

.labelTerms{
  font-family: var(--fontFamilyP);
  font-size: var(--sizeFontPSm);
}
  

  
button {
 
	font-family: monospace;
	font-size: 1.5rem;
	color: #FAFAFA;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid #FAFAFA;
	background: #252525;
	box-shadow: 3px 3px #fafafa;
	cursor: pointer;
	margin: 35px 0;
}
  
  button:active {
	box-shadow: none;
	transform: translate(3px, 3px);
  }
  
  
  .mensajeError {
	color: red;
	margin-top: 0px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
  }
  
  .mensajeCorrecto {
	text-align: center;
	font-weight: bold;
  }

@media screen and (max-width: 912px) {
  .card-inform{
    flex-direction: column;
  }
  

}











/* --------------------- */
/* -----S2 FAQ---------- */
/* --------------------- */

.container-faq{
  min-height: 70vh;
  height: 100%;
  background: var(--colorSecundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.title-faq{
  background-image: url(../img/wintery-sunburst.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  width: 100%;
  height: 450px;
  padding: var(--paddingSections);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-faq{
  font-family: var(--fontFamilySub);
  font-size: var(--sizeFontSub);
  font-weight: var(--weightFontSub);
}
.intro-faq{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-family: var(--fontFamilyTitle);
  font-weight: var(--weightFontTitle);
  font-size: var(--sizeFontTitle);
  color: var(--colorFont);
  border-radius: 78% 22% 70% 30% / 33% 63% 37% 67% ;
  background-color: var(--colorPrimario);
  
}

#accordion{
  padding: 30px;
  width: 70vw;
}

.accordion-p{
  font-family: var(--fontFamilyP);
  font-weight: var(--weightFontP);
  font-size: var(--sizeFontPMd);
}
label{
  font-family: var(--fontFamilyTitle);
  font-weight: var(--weightFontTitle);
  font-size: var(--sizeFontPBg);
}

#accordion li{
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: var(--colorMenu);
  padding: 10px;
  border-radius: 5px;
  color: var(--colorSecundario);

}

#accordion li label{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--colorPrimario);

}

#accordion li label span{
  transform: rotate(90deg);
  font-size: 22px;
  color: var(--colorPrimario);
}

#accordion label + input[type="radio"]{
  display: none;
}

#accordion .content{
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
  max-height: 400px;

}














/* -------------- */
/* ----FOOTER---- */
/* -------------- */
/* footer responsive de 4 partes */
footer{
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    padding: var(--paddingSections);
    display: flex;
    flex-direction: column;
    color: var(--colorSecundario);
    background: var(--colorMenu);
    font-family: var(--fontFamilyP);
  }
  
  .copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--borderOff);
  }
  
  .copyright{
    font-size: var(--sizeFontPSm);
    opacity: 0.7;
    padding: 10px 0;
  }
  
  .footer-menus{
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  
  .footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
  }
  
  footer .website-logo{
    padding: 1vw;
    font-family: var(--fontFamilyMesa12);
    color: transparent;
    -webkit-text-stroke: 1px var(--colorSecundario);
    margin-bottom: .5rem;
    font-size: var(--sizeFontSub);
  }
  
  .footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: var(--colorLink);
    text-decoration: none;
    transition: 0.5s;
  }
  
  .menu-item-footer:hover{
    color: var(--colorHover);
  }
  
  .menu-title{
    font-size: var(--sizeFontPMd);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    
  }
  
  .social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
  }
  
  .social-link{
    height: 100%;
    width: 50px;
    margin: 0 1rem;
    color: var(--colorLink);
  }

  .fa-brands{
    font-size: var(--sizeFontSub);
  }
  
  .social-link:hover{
    color: var(--colorHover);
  }
  
  /*MEDIA QUERY*/
  @media (max-width: 912px){
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }
    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-top: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }
    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }
  }